Repository CommunityToolkit/Tooling-Windows-Submodule, pull requests merged in 2023-09, with the labels that each got.

#136 Sort the Sample App Categories and Samples Alphabetically
  CommunityToolkit.App.Shared/Helpers/NavigationViewHelper.cs
  CommunityToolkit.Tooling.SampleGen/ToolkitSampleSubcategory.cs
Labels: sample app 🖼, ux :paintbrush:

#142 Fix issue with sample displays being blank
  CommunityToolkit.App.Shared/Renderers/ToolkitSampleRenderer.xaml.cs
Labels: bug :bug:, documentation :page_with_curl:, sample app 🖼

#143 Disable MultiThreading on WASM for now
  ProjectHeads/App.Head.Wasm.props
Labels: sample app 🖼, Uno, WASM
