Repository CommunityToolkit/Tooling-Windows-Submodule, pull requests merged in 2023-08, with the labels that each got.

#118 Resolve fix for converters on linux
  ProjectHeads/App.Head.props
Labels: build :fire:, CI/pipeline 🔬, WASM

#119 Another fix for the Converters ProjectReference logic
  ProjectHeads/App.Head.props
Labels: bug :bug:, build :fire:, dev loop ➰, sample app 🖼

#129 Removed png asset workaround for library projects
  CommunityToolkit.App.Shared/Helpers/IconHelper.cs
  CommunityToolkit.Tooling.SampleGen/ToolkitSampleMetadataGenerator.Documentation.cs
  ProjectHeads/App.Head.props
Labels: bug :bug:, enhancement, sample app 🖼, Uno
