Repository CommunityToolkit/Tooling-Windows-Submodule, pull requests merged in 2023-03, with the labels that each got.

#2 Add readme and build scripts from other repo for initial setup and testing
  .config/dotnet-tools.json
  .devcontainer/Dockerfile
  .devcontainer/default.code-workspace
  .devcontainer/devcontainer.json
  .editorconfig
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/Directory.Build.props
  .github/workflows/Directory.Build.targets
  .github/workflows/build.yml
  .gitignore
  ApplyXamlStyling.ps1
  CODE_OF_CONDUCT.md
  Contributing.md
  License.md
  ProjectTemplate/.template.config/template.json
  ProjectTemplate/README.md
  ReadMe.md
  global.json
  settings.xamlstyler
Labels: build :fire:, CI/pipeline 🔬

#25 Fixed CI errors caused by -Depth 0
  MultiTarget/GenerateAllProjectReferences.ps1
Labels: bug :bug:, CI/pipeline 🔬, dev loop ➰

#37 Fixed generated option pane attributes being incorrectly pruned
  CommunityToolkit.Tooling.SampleGen/ToolkitSampleMetadataGenerator.Sample.cs
Labels: dev loop ➰, sample app 🖼, source generator :gear:

#38 Ensure `<NoWarn>` blocks in props/proj files don't conflict and overwrite one another
  MultiTarget/MultiTarget.props
  MultiTarget/Uno.props
  ProjectHeads/Head.Uwp.props
Labels: build :fire:
